.b1 {
	line-height: 1.2;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.contact-title i {
    color: #FFFFFF;
    font-size: 5.0em;
    text-align: right;
    display: block;
    padding: 65px 0 0 0;
}

.contact-title h2
{
    font-size: 3.0em;
    font-weight: 600;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 30px;
}
.contact-title p {
    text-align: right;
    margin-top: -5px;
    color: rgba(236,240,241,0.9);
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 100%;
    background: transparent;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
}
#contact-info
{
	padding: 0px 0px 40px;
}
.contact textarea {
    width: 100%;
    background: transparent;
    font-size: 13px;
    padding: 15px;
    height: 100px;
    border: 1px solid #EDEDED;
    outline: none;
    resize: none;
    margin-bottom: 5px;
}

.contact-submit {
    background-color: #24B7A4;
    border: 2px solid #24B7A4;
    color: #FFFFFF;
    width: 100%;
    display: block;
    word-spacing: 1px;
    outline: none;
    margin: 0 auto;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    padding: 10px;
}